.main { 
    position: relative;
    z-index: 1;
}

.content {
    padding-top: 134px;
    min-height: calc(100vh - 59px); // footer height

    @include sm {
        padding-top: 160px;
    }

    @include md {
        padding-top: 220px;
        min-height: calc(100vh - 99px); // footer height
    }
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 $gutter;
    width: 100%;
    max-width: 1280 + $double-gutter * 2;

    @include md {
        padding: 0 $double-gutter;
    }
}

.section {
    position: relative;
    margin-bottom: 60px;

    @include sm {
        margin-bottom: 120px;
    }
}

.figure {
    position: relative;
    margin-bottom: $gutter;

    @include sm {
        margin-bottom: 72px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.center {
    position: relative;
    @include center;
}

.full-bg {
    @include full(absolute);
    @include bg(cover);
}

.offset {
    &:target:before {
        content: "";
        display: block;
        height: 24px;
        margin-top: -24px;
    }
}